{% load static %}
<!-- Images at the bottom page of the site-->


<section id="bottomlogos" class="py-1">
  <div class="container" id="centercontent">

    <p class="text-center">DST-NRF Centre of Excellence in Epidemiological Modelling and Analysis</p>
    <div class="row mb-4">
      <div class="col-md-4">


    <a href="https://www.sun.ac.za"><img src="/static/images/su100new.jpg" alt="" class="img-fluid"></a>

      </div>

      <div class="col-md-4">


        <a href="https://www.nrf.ac.za"> <img src="/static/images/NationalResearchFoundationnew.jpg" alt="" class="img-fluid"></a>

      </div>

      <div class="col-md-4">


         <a href="https://www.dst.gov.za"><img src="/static/images/DST_correct_logo1new.jpg"   alt="" class="img-fluid"></a>

      </div>
    </div>
