{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}

  <div class="container" style="background-color:white">
  	<div class ="jombotron">
          <h5>About us</h5>
          <hr>
    <p>The <b>South African Centre for Epidemiological Modelling and Analysis (SACEMA)</b> is a national research centre dedicated to modelling and analysis to improve health in South Africa and across the African continent. Trained in mathematics, biology, physics, economics, statistics, and epidemiology, we bridge disciplines to understand disease dynamics and improve real-world outcomes. We focus on research at two scales. At the individual scale, we focus on biomarkers, drug targets, and diagnostics. At the population scale, we focus on transmission dynamics and interventions.</p>
    <p> SACEMA was founded in 2006 as a DST-NRF Centre of Excellence and is hosted at Stellenbosch University in South Africa's Western Cape.</p>
  

  </div>
</div>

{% endblock %}
