{% load cms_tags menu_tags sekizai_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% page_attribute "page_title" %}</title>
  {% render_block "css" %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  <!-- Bootstrap core  -->
  <link rel="stylesheet" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
  <!-- Custom css -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/style.css' %}">

  <style>

    .jombotron-white {
      position: relative;
      margin-left: auto;
      margin-right: auto;   /*   makes the backhround of a jumbotron white if used */

      background-color: white;
    }

    .container-white {
      position: relative;
      margin-left: auto;              /*   makes the backhround of a container white if used */
      margin-right: auto;

      background-color: white;
    }
    .container {
      max-width: 1000px;
    }

    .positionedbottom{
      position: fixed;
    }

  </style>
  <!--page content-->

  <!-- Required Jquery -->


  <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script-->

  <!--script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  {% render_block "css" %}
</head>

<body>
  {% cms_toolbar %}
  <!-- Top Nav Bar -->
<div>

  {% include 'partials/_topnavbar.html' %}

  <!-- Top Sacema Logo -->
  {% include 'partials/_toplogo.html' %}

  <!--page content-->
    {% include 'partials/_content_area_home.html' %}


    <!--LowerNav Bar -->
    {% include 'partials/_lowernavbar.html' %}

    <!--Bottom NRF, Stellenbosch University and DST logos -->

    {% include 'partials/_bottomlogos.html' %}

    <!--Footer showing copyright and year -->

    {% include 'partials/_footer.html' %}
</div>
    <!-- Bootstrap core JavaScript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{% static "/bootstrap4/js/bootstrap.min.js" %}"> </script>

    {% render_block "js" %}
</body>

</html>
