{% extends 'base_left_logo.html' %}
{% block title %} Scientific Advisory {% endblock %}
{% block content %}
<!--Display core Staff -->
<style>
</style>

<!--Display  Scientific advisory committee -->
<section id="SUSAC" class="py-8">

  <div class="container" id="container-white">

    <p style="color:#99241B;font-size:2rem;" class="text-center">Scientific advisory committee</p>

    <div class="row text-center text-light">
      {% if staffdetails %}
      {% for staffdetail in staffdetails %}

      <div class="col-md-4 mb-4">

        <img class="card-img" src="{{ staffdetail.person_id.headshot.url }}" alt="Card image" class="rounded" style="width: 200px" style="height: 261px">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">


          <p> {{staffdetail.person_id.firstnames}} {{staffdetail.person_id.surname}}, {{ staffdetail.qualification}}</p>

             <p>{{ staffdetail.job_description}}</p>
        </div>

      </div>
      <hr>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <p>No members</p>
      </div>
      {% endif %}

    </div>

  </div>

</section>
{% endblock %}
